.debugBox {
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  color: red;
}

.valueBox {
  border: 1px solid green;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  color: green;
}
