<div class="">
  <h1>NgxFormulus</h1>

  <div class="col mt-2">
    <h2>Normal Form</h2>

    <div class="mt-2">
      <form class="form-group">
        <div class="form-control">
          <label for="normal-firstName">First name:</label>
          <input id="normal-firstName">
        </div>

        <div class="form-control">
          <label for="normal-lastName">Last name:</label>
          <input id="normal-lastName">
        </div>

        <div class="form-control">
          <label for="normal-birthDate">Birth date:</label>
          <input type="date" id="normal-birthDate">
        </div>
      </form>
    </div>

  </div>

  <div class="col mt-2">
    <h2>Dynamic Form</h2>

    <div class="row">
      <div class="col-6 mt-2">
        <ngx-dynamic-form [data]="dynamicForm"></ngx-dynamic-form>
      </div>

      <div class="col-6 mt-2">
        <!-- Debug -->
        <pre class="debugBox" *ngIf="!dynamicForm?.FormGroup?.valid">
          <h2>Error Messages:</h2>
          <code>{{ dynamicForm?.collectErrors() | json }}</code>
        </pre>

        <!-- Display formGroup Values -->
        <pre class="valueBox">
          <h2>FormGroup Values:</h2>
          <code>{{ dynamicForm?.FormGroup?.value | json }}</code>
        </pre>
      </div>

    </div>
    <div class="row">
      <div class="col-6 mt-4 p-3">
        <button class="mr-2" (click)="addNewControl()">Add new control</button>
        <button (click)="setUsername()">Set Username</button>
      </div>
    </div>
  </div>
</div>
