<div class="">
  <h1>NgxFormulus</h1>

  <div class="col mt-2">
    <h2>Normal Form</h2>

    <div class="mt-2">
      <form class="form-group" [formGroup]="formGroup">
        <div class="form-control">
          <label for="normal-firstName">First name:</label>
          <input id="normal-firstName" formControlName="firstName">
          <span style="color:red;" *ngIf="!formGroup.controls.firstName.valid">Firstname is required!</span>
        </div>

        <div class="form-control">
          <label for="normal-lastName">Last name:</label>
          <input id="normal-lastName" formControlName="lastName">
          <span style="color:red;" *ngIf="!formGroup.controls.lastName.valid">Last name is required!</span>
        </div>

        <div class="form-control">
          <label for="normal-birthDate">Birth date:</label>
          <input type="date" id="normal-birthDate" formControlName="birthDate">
          <span style="color:red;" *ngIf="!formGroup.controls.birthDate.valid">Birth date is required!</span>
        </div>
      </form>
    </div>

  </div>

  <div class="col mt-2">
    <h2>Dynamic Form</h2>

    <div class="mt-2">
      <ngx-dynamic-form [data]="dynamicForm"></ngx-dynamic-form>
    </div>
  </div>
</div>
